@model CRUD.netCore.Models.VM
@{
    ViewData["Title"] = "ddata";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ 
    var da = Model.Sakib;
}


<h1>Try To make int </h1>


<h1> @da</h1>
<h3> </h3>